@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 100;
    src: url("assets/fonts/IRANSansX-Thin.woff") format('woff');
    /*src: url('~assets/fonts/IRANSansX-Thin.woff') format('woff'),*/
    /*url('~assets/fonts/IRANSansX-Thin.woff2') format('woff2');*/
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/IRANSansX-UltraLight.woff') format('woff'),
    url('assets/fonts/IRANSansX-UltraLight.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/IRANSansX-Light.woff') format('woff'),
    url('assets/fonts/IRANSansX-Light.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/IRANSansX-Medium.woff') format('woff'),
    url('assets/fonts/IRANSansX-Medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/IRANSansX-DemiBold.woff') format('woff'),
    url('assets/fonts/IRANSansX-DemiBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/IRANSansX-ExtraBold.woff') format('woff'),
    url('assets/fonts/IRANSansX-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/IRANSansX-Black.woff') format('woff'),
    url('assets/fonts/IRANSansX-Black.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/IRANSansX-Bold.woff') format('woff'),
    url('assets/fonts/IRANSansX-Bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/IRANSansX-Regular.woff') format('woff'),
    url('assets/fonts/IRANSansX-Regular.woff2') format('woff2');
}
body {
    font-family: IRANSansX,serif;
    font-weight:normal;
}
* {
    font-family: IRANSansX,serif;
}

@media (max-width: 768px) {
    body {
        padding-bottom: 80px;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 20px;
        height: 20px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #e6e6e6;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #e6e6e6;
    }
}
